/* Buttons */

.btn-sleek {
    --offset: 15%;
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    background: #fff;
    border: 2px solid #000;
    font-size: 1rem;
    cursor: pointer;
    z-index: 0;
}

.btn-sleek::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% + var(--offset));
    height: calc(100% + var(--offset));

    background: #000;
    clip-path: polygon(
        0 0,
        0 50%,
        calc(var(--offset)) calc(100% + var(--offset)),
        calc(100% + var(--offset)) calc(100% + var(--offset)),
        calc(100% + var(--offset)) calc(var(--offset)),
        100% 0
    );

    z-index: -1;
    opacity: 0;
}

.btn-sleek:hover::before {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

/* Shadows */

.shadow-at-hover {
    transition: box-shadow 0.2s;
}
.shadow-at-hover:hover {
    box-shadow: 0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.15);
}

/* Smooth fade-in/out animation */

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-0.5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-0.5rem);
    }
}

.slide-in {
    animation: slideIn 0.2s ease-out forwards;
}

.slide-out {
    animation: slideOut 0.2s ease-in forwards;
}
