#pageElements {
    margin-top: 7.5rem;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

.subtitle {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

/* Navbar */

.navbar {
    background-color: hsl(0, 80%, 90%);
}

#navbarNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navbarSticker {
    height: 60px;
    width: 60px;
}

.bi-github:hover {
    color: black !important;
    transition: color 0.3s;
}

/* Home */

.btn-navlist * {
    text-align: left;
    font-weight: 600;
}

/* Steps */

#embeddedYoutubeVideo {
    width: 100%;
    aspect-ratio: 16 / 9;
}

/* Rhythm */

#tapContainer {
    /* ensure the container stays 15rem×15rem */
    width: 15rem;
    height: 15rem;
}

#physicsCanvas canvas {
    /* p5 injects <canvas> here—absolutely position it */
    position: absolute;
    top: 0;
    left: 0;
}

#tapButton {
    /* overlay the button on top of the canvas */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: white;
    font-size: 3em;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
