{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/home.js') }}"
></script>

<!-- AJAX Interface -->
<script>
  let flag_steps_completed = {{ flag_steps_completed | tojson }};
</script>

<div id="pageElements" class="container">
  <div class="row">
    <div class="col-md-12 text-tightline">
        <span class="text-bold text-red"> Congratulations </span> on
        finishing the quiz part! You can go back to the sections below or leave if you want!
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 fs-4 btn-navlist">
      <button class="btn-sleek mt-5 w-75" id="home2Steps">
        Learn the Steps
      </button>
      <button
        class="btn-sleek mt-5 w-75"
        id="home2Rhythm"
        {%
        if
        not
        flag_steps_completed
        %}
        disabled
        {%
        endif
        %}
      >
        Rhythm Training
      </button>
      <button
        class="btn-sleek mt-5 w-75"
        id="home2Quiz"
        {%
        if
        not
        flag_steps_completed
        %}
        disabled
        {%
        endif
        %}
      >
        Test Your Knowledge
      </button>
    </div>
  </div>
</div>

{% endblock %}
