{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/home.js') }}"
></script>

<div id="pageElements" class="container">
    <div class="row mt-5">
        <div class="col-md-12 text-tightline">
            What would you do if <br />
            a loved one
            <span class="text-bold text-red"> collapsed </span> <br />
            on Thanksgiving? <br />
            A birthday party? <br />
            A big game?
        </div>

        <div class="col-md-12 title mt-5">
            Be prepared. <br />
            Learn to help <br />
            with CPR.
        </div>

        <div class="col-md-12 mt-3 fs-4" id="homeButtonGroup">
            <button class="btn-sleek mt-5 w-75" id="home2Steps">
                Learn the Steps
            </button>
            <button class="btn-sleek mt-5 w-75" id="home2Rhythm">
                Rhythm Training
            </button>
            <button class="btn-sleek mt-5 w-75" id="home2Quiz">
                Test Your Knowledge
            </button>
        </div>
    </div>
</div>

{% endblock %}
