{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/home.js') }}"
></script>

<div id="pageElements" class="container">
    <div class="row mt-5">
        <div class="col-md-12 subtitle">
            What would you do if <br />
            a loved one
            <span class="text-bold text-red"> collapsed </span> <br />
            on Thanksgiving? <br />
            A birthday party? <br />
            A big game?
        </div>

        <div class="col-md-12 title mt-4">
            Be prepared. <br />
            Learn to help <br />
            with CPR.
        </div>

        <div class="col-md-12 mt-5 mb-5 fs-2">
            <button class="btn-sleek mt-4 w-50" id="home2Steps">Steps</button>
            <button class="btn-sleek mt-4 w-50" id="home2Rhythm">Rhythm</button>
            <button class="btn-sleek mt-4 w-50" id="home2Quiz">Quiz</button>
        </div>
    </div>
</div>

{% endblock %}
