{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/home.js') }}"
></script>

<div id="pageElements" class="container align-center">
    <div class="row mt-5">
        <div class="col-md-12 title">
            High-quality
            <span id="homeTitle" class="text-gradient">Gakumas</span>
            assets.<br />
            Delivered straight from the server.
        </div>
        <div class="col-md-12 subtitle mt-3">
            <span>GkmasManifest revision</span>
            <span id="homeMetadataRevision" class="text-bold"></span>
            <span>with</span>
            <span id="homeMetadataAbCount" class="text-bold"></span>
            <span>assetbundles and</span>
            <span id="homeMetadataResCount" class="text-bold"></span>
            <span>resources. Standby.</span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 subtitle text-bold">
            <span class="text-gradient">LATEST RELEASES</span>
        </div>
    </div>

    <div class="row mt-2 gx-3" id="homeFeaturedContainer"></div>
</div>

{% endblock %}
