{% extends "layout.html" %} {% block content %}
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/quiz.js') }}"
></script>

<script>
    // expose quiz metadata to quiz.js
    let qid   = {{ qid }};
    let total = {{ total }};
    let qType = "{{ q_type }}";
    let static= {{ static|tojson }};
    window.correctAnswer = {{ answer | tojson }};
    window.score = {{ score | tojson }}
</script>
<div id="pageElements" class="container">
  <!-- question header -->
  <div class="row">
    <div class="col-12 text-start" id="question_title">
      Question {{ qid }} of {{ total }}
    </div>
    <div class="col-12 subtitle mt-2 lh-sm fs-4 fw-normal" id="question_content">
      {{ question }}
      {% if static %}
        {% if static is string %}
          <div style="margin-top: 1rem;">
            <img src="{{ static }}"
                alt="Related Step"
                class="img-fluid mx-auto mt-3 w-50" />
          </div>
        {% else %}
          <div class="row row-cols-1 row-cols-md-2 g-2 g-md-0 mt-3">
            {% for img_path in static %}
              <div class="col-4">
                <img
                  src="{{ img_path }}"
                  alt="Related Step {{ loop.index }}"
                  class="img-fluid"
                  style="border: 1px solid #ccc;"
                />
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <!-- answer form -->
  <form
    id="quizForm"
    method="post"
    action="{{ url_for('quiz', qid=qid) }}"
    class="row mt-4 d-flex flex-column align-items-center gap-2"
    novalidate
  >
    {% if q_type in ['single','multi'] %}
      {% for choice in choices %}
        {% for key, value in choice.items() %}
          <label class="d-flex align-items-center ps-0 w-100 shadow-at-hover" id="choice">
            <input
              type="{{ 'radio' if q_type=='single' else 'checkbox' }}"
              name="answer"
              value="{{ key }}"
              style="transform: scale(0.8); vertical-align: middle; margin-right: 0.5rem;"
            />
            <span>{{key}}. {{value}}</span>
          </label>
        {% endfor %}
      {% endfor %}
    {% else %}
      <input
        type="text"
        name="answer_text"
        class="form-control shadow-at-hover p-3 w-100"
        placeholder="Type your answer…"
      />
    {% endif %}

  <div
    id="answerAccordion"
    class="accordion mt-4 d-none"
  >
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingAnswer">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseAnswer"
          aria-expanded="false"
          aria-controls="collapseAnswer"
        >
          <span id="collapseTitle"></span>
        </button>
      </h2>
      <div
        id="collapseAnswer"
        class="accordion-collapse collapse"
        aria-labelledby="headingAnswer"
        data-bs-parent="#answerAccordion"
      >
        <div class="accordion-body">
          <p class="card-text" id="correctAnswerText"></p>
        </div>
      </div>
    </div>
  </div>

    

    <!-- navigation buttons -->
    <div class="row w-100 mt-4">
      <div class="col-12 d-flex justify-content-end">
        <button type="button" class="btn-sleek" id="quizNext">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
    </form>
</div>

{% endblock %}
