{% extends "layout.html" %} {% block content %}
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/quiz.js') }}"
></script>

<script>
    // expose quiz metadata to quiz.js
    let qid   = {{ qid }};
    let total = {{ total }};
    let qType = "{{ q_type }}";
    let static= {{ static }};
    window.correctAnswer = {{ answer | tojson }};
</script>
<div id="pageElements" class="container" style="min-height: calc(100vh - 4rem);">
  <!-- question header -->
  <div class="row">
    <div class="col-12 text-start" id="question_title" style="line-height: 1.5;">
      Question {{ qid }} of {{ total }}
    </div>
    <div class="col-12 subtitle text-start mt-2" id="question_content" style="font-size: 1rem; font-weight: normal;">
      {{ question }}
      {% if static %}
        <div style="margin-top: 1rem;">
          <img src="{{ url_for('static', filename=static) }}"
              alt="Related Step"
              class="img-fluid"
              style="max-height: 200px; border: 1px solid #ccc;" />
        </div>
      {% endif %}
    </div>
  </div>

  <!-- answer form -->
  <form
    id="quizForm"
    method="post"
    action="{{ url_for('quiz', qid=qid) }}"
    class="row mt-4 d-flex flex-column align-items-center gap-2"
    novalidate
  >
    {% if q_type in ['single','multi'] %}
      {% for choice in choices %}
        {% for key, value in choice.items() %}
          <label class="d-flex align-items-center ps-0 w-100 shadow-at-hover" id="choice">
            <input
              type="{{ 'radio' if q_type=='single' else 'checkbox' }}"
              name="answer"
              value="{{ loop.index0 }}"
              style="transform: scale(0.8); vertical-align: middle; margin-right: 0.5rem;"
            />
            <span>{{key}}. {{value}}</span>
          </label>
        {% endfor %}
      {% endfor %}
    {% else %}
      <input
        type="text"
        name="answer_text"
        class="form-control shadow-at-hover p-3 w-100"
        placeholder="Type your answer…"
      />
    {% endif %}

    <div id="answerCard" class="card mt-4 d-none">
      <div class="card-body">
        <p class="card-text" id="correctAnswerText"></p>
      </div>
    </div>
    

    <!-- navigation buttons -->
    <div class="row w-100 mt-5">
      <div class="col-6 d-flex justify-content-start">
        <button type="button" class="btn-sleek" id="quizPrev">
          <i class="bi bi-arrow-left"></i>
        </button>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button type="button" class="btn-sleek" id="quizNext">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
    </form>
</div>

{% endblock %}
