{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/rhythm.js') }}"
></script>

<div id="pageElements" class="container d-flex flex-column">
    <div class="row">
        <div class="col-md-12 title">
            Memorize the <br />
            CPR rhythm!
        </div>
        <div class="col-md-12 subtitle mt-4 text-regular">
            The ideal range is <br />
            <span class="text-bold">100~120</span> presses <br />
            per minute.
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h2>Live BPM Counter</h2>
            <div id="bpmDisplay" style="font-size: 2em; margin-bottom: 10px">
                0.00
            </div>
            <!-- new container: fixed 15rem size for p5 canvas + button overlay -->
            <div
                id="tapContainer"
                style="
                    position: relative;
                    display: inline-block;
                    width: 15rem;
                    height: 15rem;
                "
            >
                <!-- this div becomes the p5 canvas parent -->
                <div id="physicsCanvas"></div>
                <!-- transparent button on top -->
                <button id="tapButton">TAP</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
