{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/rhythm.js') }}"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.min.js"></script>

<div id="pageElements" class="container d-flex flex-column">
    <div class="row">
        <div class="col-md-12 title">
            Memorize the <br />
            CPR rhythm!
        </div>
        <div class="col-md-12 subtitle mt-4 text-regular">
            The ideal range is <br />
            <span class="text-bold">100~120</span> presses <br />
            per minute.
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h2>Live BPM Counter</h2>
            <div id="bpmDisplay" style="font-size: 2em; margin-bottom: 10px">
                0.00
            </div>
            <!-- Our special button: -->
            <button id="tapButton" class="bpm-btn">Tap Here</button>
            <!-- a canvas for Matter.js to render the physics (hidden behind the button) -->
            <canvas id="physics-canvas"></canvas>
        </div>
    </div>
</div>

{% endblock %}
