{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/steps.js') }}"
></script>

<!-- AJAX Interface -->
<script>
    let id = {{ id | int }};
    let name = {{ name | tojson }};
    let details = {{ details | tojson }};
    let flag_xiphoid_seen = {{ flag_xiphoid_seen | tojson }};
</script>

<div id="pageElements" class="container d-flex flex-column">
    <div class="row">
        <div class="col-md-12 title">Step {{ id }}:</div>
        <div class="col-md-12 subtitle mt-2">{{ name }}</div>
    </div>

    <div class="row mt-5">
        <img
            class="img-fluid mx-auto w-75"
            src="{{ url_for('static', filename='img/step' ~ id ~ '.svg') }}"
            alt="Step {{ id }}: {{ name }}"
        />
    </div>

    <div class="row mt-5 fs-5">
        <div class="col-md-12">
            <ul>
                {% if id == 5 %} {% if not flag_xiphoid_seen %}
                <li>{{ details[0] | markdown | safe}}</li>
                {% else %}
                <li>
                    {{ details[0] | markdown | safe}}
                    <span>
                        <button
                            class="btn-sleek mx-2 fs-5 lh-1"
                            id="stepXiphoid"
                        >
                            <i class="bi bi-question-lg"></i>
                        </button>
                    </span>
                </li>
                {% for point in details[1:] %}
                <li>{{ point | markdown | safe}}</li>
                {% endfor %} {% endif %} {% else %} {% for point in details %}
                <li>{{ point | markdown | safe}}</li>
                {% endfor %} {% endif %}
            </ul>
        </div>
    </div>

    <iframe
        id="embeddedYoutubeVideo"
        class="hide-by-default"
        src=""
        title="YouTube video player"
        frameborder="0"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
    ></iframe>

    <div class="row fs-1 lh-1 mt-auto">
        <div class="col-12">
            <button class="btn-sleek" id="stepPrev">
                <i class="bi bi-arrow-left"></i>
            </button>
            <button class="btn-sleek float-end" id="stepNext">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
</div>

{% endblock %}
